/* reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
/* commons */
body{
    font-family: fredoka, sans-serif;
}


/* header */

h1{
    color: #e53170;
    text-align: center;
    margin-top: 10px;
}